Debug
EunetSwitch/EunetSwitchTest
HelloGprof/hello
*.stackdump
*.o
.*.swp
*.E.cc
*.ccc
EunetSwitchTest/EunetSwitchTest
EunetSwitch/*.xml
*.tr
EunetSwitch/html
EunetSwitch/latex
*.pcap
.cproject
.project
.settings
*.exe
*.out
EunetTest.bak
.metadata
\#*#
*~
EunetSimulation

